{% extends 'base.html' %}

{% block title %} Blog Page {% endblock %}

{% block content %} 
<div class="container my-3">
    <h1>{{blog.title}}</h1>
    <p class="text-muted">By {{blog.author}} at {{blog.created_at.strftime("%Y-%m-%d")}}</p>
    <pre style="white-space: pre-wrap; word-wrap: break-word;">{{blog.description}}</pre>
    <a href="/" class="btn btn-primary">Home</a>
    {% if 'user' in session and session['user'] == blog.author %}
    <a href="/update/{{blog.id}}" class="btn btn-warning">Update</a>
    <a href="/delete/{{blog.id}}" class="btn btn-danger">Delete</a>
    {% endif %}

</div>

{% endblock %}
