{% extends 'base.html' %}

{% block title %} Home Page {% endblock %}

{% block content %} 
<div class="container my-5">
  {% if all_blogs %}
  <h1>All Blogs</h1>
  <div class="container my-3 d-flex flex-wrap">
    {% for blog in all_blogs %}
    <div class="card m-3" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{ blog.title }}</h5>
          {% if blog.description[100] %}
          <p class="card-text">{{blog.description[:100]}}...</p>
          {% else %}
          <p class="card-text">{{blog.description}}</p>
          {% endif %}
          <small class="text-muted">By {{blog.author}} at {{blog.created_at.strftime("%Y-%m-%d")}}</small><br><br>
          <a href="/blog/{{blog.id}}" class="btn btn-primary">Read More</a>
        </div>
        </div>
        {% endfor %}
      </div>
      {% else %}
      <h2>No Blogs Are Available</h2>
      {% endif %}
</div>

{% endblock %}